body {
  width: 100%;
  height: 100%;
  background-image: url(2.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  margin: 30px 0;
}
header {
  text-align: center;
}

.back-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  text-decoration: none;
  color: rgb(6, 6, 6);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
  margin: 0 400px;
  border: none;
  border-radius: 40px;
  box-shadow: 10px 10px 10px black;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}

.back-button:hover {
  box-shadow: 5px 10px 10px rgb(88, 88, 88);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid black;
  box-shadow: 10px 10px 10px black;
}

.welcome {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: rgb(6, 6, 6);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
  margin: 0 400px;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 10px 10px 10px black;
}

.food {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(75, 75, 75);
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin: 20px 500px;
}

.rymden {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(75, 75, 75);
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  margin: 20px 200px;
}
h5 {
  /* Rubrikerna på menyn */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.container {
  /* Gör att dom hamnar brevdid varandra och i mitten */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
 /* Designen på mat boxarna */
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0 15px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 30px;
  list-style-position: inside;
  line-height: 1, 3px;
  padding: 20px 60px;
  box-shadow: 10px 10px 10px black;
  width: 100%;
  max-width: 200px;
}
li {
  /* Ökar avståndet mellan punkterna */
  margin-bottom: 10px;
}
ul li p {
  text-align: start;
  margin-top: 5px; /* Minskar avståndet mellan listpunkten och texten under */
  font-size: 14px; /* Ändra textstorlek på texten under listpunkten */
  color: black;
}

ul h5 {
  margin-bottom: 5px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .back-button {
    padding: 10px;
    top: 5px;
    left: 5px;
  }

  .welcome,
  .food,
  .rymden {
    margin: 0 20px; /* Minska marginalerna för smalare skärmar */
    padding: 10px;
  }

  .container {
    flex-direction: column; /* Gör boxarna staplade vertikalt istället för horisontellt */
  }

  .box {
    width: 80%; /* Boxarna tar upp 80% av skärmen på mindre enheter */
    max-width: none;
  }
}

@media (max-width: 480px) {
  .back-button {
    padding: 8px;
    font-size: 12px;
  }

  .welcome,
  .food,
  .rymden {
    font-size: 18px;
    margin: 0 100px;
    padding: 8px;
  }

  .box {
    width: 100%; /* Gör boxarna fullbredd på mobiler */
  }
}

@media (max-width: 768px) {
  img {
    width: 150px; /* Anpassa bilder för mindre skärmar */
    height: 150px;
  }
}

@media (max-width: 480px) {
  img {
    width: 100px;
    height: 100px;
  }
}
